
@font-face {
  font-family: "YanoneKaffeesatz";
  src: url("/media/fonts/Yanone/YanoneKaffeesatz.ttf");
}

@font-face {
  font-family: "VarelaRound";
  src: url("/media/fonts/Varela_Round/VarelaRound-Regular.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("/media/fonts/Rubik/Rubik.ttf");
}

@font-face {
  font-family: "Rubik-Black";
  src: url("/media/fonts/Rubik/Rubik-Black.ttf");
}

@font-face {
  font-family: "Rubik-EtraBold";
  src: url("/media/fonts/Rubik/Rubik-ExtraBold.ttf");
}

@font-face {
  font-family: "Rubik-SemiBold";
  src: url("/media/fonts/Rubik/Rubik-SemiBold.ttf");
}

:root {
  --primary: #c084fc;
  --secondary: #14b8a6;
  --primary-text: whitesmoke;
  --primary-font: 'Rubik-Black', 'Arial';
  --seconary-font: 'VarelaRound', 'Arial';
}

hr {
  background: transparent !important;
}

body {
  background-image: linear-gradient( var(--primary),  var(--secondary));
  font-family: var(--seconary-font);
}

section #title h1 {
  font-size: 7em;
  color: var(--primary-text);
  font-weight: bold;
  padding-bottom: 0.2em;
  font-family: var(--primary-font);
}

section #title p {
  font-size: 2em;
  color: var(--primary-text);
  font-style: bold;
  font-family: var(--seconary-font);
}

.main {
  float: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  padding:5px;
}

#main_text {
  padding-top: 2em;
}

#main_text h1 {
  font-size: 2em;
  color: var(--primary-text);
  font-style: bold;
  font-family: var(--seconary-font);
  text-align: center;
}

.profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}

.logo {
  max-width:230px;
  max-height:30px;
  width: auto;
  height: auto;
  padding:5px;
}

.custom_link {
  font-size: 18px;
  padding-left: 5px;
}

/* center this image */
#logo_stack img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  padding:5px;
}

.icon {
  border-radius: 20%;
  width: 17em;
}

.icon_container {
  display: flex;
}

#logo_stack {
  float: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  padding:5px;
}

#sponsor {
  float: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  padding:5px;
}

#link_stack {
  float: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  padding:5px;
}


#header, span.credits {
  visibility: hidden;
  height: 0%;
}

